fastapi==0.111.0
uvicorn[standard]==0.29.0
sqlalchemy==2.0.30
mysql-connector-python==8.4.0
pydantic==2.7.1
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.9
scikit-learn==1.4.2
numpy==1.26.4
python-dotenv==1.0.1
